{
	"root": true,
	"env": { "browser": true, "es2020": true, "es6": true },
	"extends": [
		"eslint:recommended",
		"plugin:@typescript-eslint/recommended-type-checked",
		"plugin:react-hooks/recommended",
		"plugin:react/recommended",
		"plugin:react/jsx-runtime",
		"plugin:prettier/recommended"
	],
	"parserOptions": {
		"ecmaVersion": 6,
		"sourceType": "module"
	},
	"ignorePatterns": ["dist", ".eslintrc.cjs"],
	"parser": "@typescript-eslint/parser",
	"parserOption": {
		"ecmaVersion": "latest",
		"sourceType": "module",
		"project": [ "./tsconfig.json", "./tsconfig.node.json"],
		"tsconfigRootDir": "__dirname"
	},
	"plugins": [
		"react-refresh"],
	"rules": {
		"react-refresh/only-export-components": [
			"warn",
			{ "allowConstantExport": true }
		],
		"prefer-arrow/prefer-arrow-functions": [
			"error",
			{
				"disallowPrototype": true,
				"singleReturnOnly": true,
				"classPropertiesAllowed": false
			}
		],
		"no-console": "off"
	}
}
